{% extends ':default:layout.html.twig' %}

{% block title %}
{{ user.firstname }} {{ user.surname }} - Profil
|{{ parent() }}
{% endblock %}

{% block content %}

{% if user.cover %}
    {% set default = false %}
    {% set cover_image = user.cover %}
{% else %}
    {% set default = true %}
    {% set cover_image = 'default.jpg' %}
{% endif %}


{# Background size cover method #}
{#
<div class="parallax-cover parallax-window" data-parallax="scroll" style="background: url({{('img/cover/' ~ cover_image)|imagine_filter('cover')}}); background-size:cover;" data-speed="0.6"></div> 
#}

{# 
Paralax method
<div class="parallax-cover parallax-window" data-parallax="scroll" data-image-src="{{asset('img/cover/' ~ cover_image)}}" data-speed="0.6"></div>
#}

{% if default == true %}
<div class="parallax-cover parallax-window" data-parallax="scroll" data-image-src="{{asset('img/cover/' ~ cover_image)}}" data-speed="0.3"></div>
{% else %}
<div class="parallax-cover parallax-window" data-parallax="scroll" data-image-src="{{('img/cover/' ~ cover_image)|imagine_filter('cover')}}" data-speed="0.3"></div>
{% endif %}



<div class="profil-board pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row profil-header">
                  <div class="col-md-4">
                      <figure>
                            {% include 'NoobUserBundle:Global:userImage.html.twig' with{ 'mode':'profil', 'picturename': user.picture, 'alt': user.firstname ~ user.surname } %}
                      </figure>
                      <div class="social-group">
                        {% if user.fblink is not null and user.fblink is not empty %}
                          <a href="{{user.fblink}}" rel="nofollow" target="_blank" class="fb-button social-button text-hide">Page Facebook de {{ user.firstname}} {{user.surname}}</a>
                          {% else %}
                          <span class="fb-button social-button text-hide empty">Page Facebook de {{ user.firstname}} {{user.surname}}</span>
                        {% endif %}
                          
                        {% if user.twitterlink is not null and user.twitterlink is not empty %}
                          <a href="{{user.twitterlink}}" rel="nofollow" target="_blank" class="twitter-button social-button  text-hide">Page Twitter de {{ user.firstname}} {{user.surname}}</a>
                        {% else %}
                          <span class="twitter-button social-button text-hide empty">Page Twitter de {{ user.firstname}} {{user.surname}}</span>
                        {% endif %}
                          
                        {% if user.linkedinlink is not null and user.linkedinlink is not empty %}
                          <a href="{{user.linkedinlink}}" rel="nofollow" target="_blank" class="linkedin-button social-button  text-hide">Page LinkedIn de {{ user.firstname}} {{user.surname}}</a>
                        {% else %}
                          <span class="linkedin-button social-button text-hide empty">Page LinkedIn de {{ user.firstname}} {{user.surname}}</span>
                        {% endif %}
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="profil-card planked">
                          <div class="heading">
                              <h1>{{ user.firstname}} <strong>{{user.surname}}</strong></h1>
                          </div>
                          
                        {% if user.role.slug == 'etudiant' %}
                            <div>Étudiant(e) en {{ user.section.name }}</div>
                        {% elseif user.role.slug == 'entreprise'%}
                            {% if user.websiteurl is not null and user.websiteurl is not empty %}
                                <a href="{{ user.websiteurl }}" target="_blank" rel="nofollow" class="violet-me">{{ user.society }}</a>
                                {% else %}
                                {{ user.society }}
                            {% endif %}
                        {% endif %}
                                
                          <p>Tag(s) associé(s): 
                              {% set nbTag =  user.tags|length -1%}
                                {% for  key,tag in user.tags %}
                                     <a href="{{path('noob_site_searchContent', {'search': tag.name})}}">{{tag.name}}</a>{% if key != nbTag %}, {% endif %}
                              {% endfor %}
                          </p>
                          <p class="contact">
                            {% if user.visibleInfo %}
                              <span>
                                <i class="fa fa-envelope"></i> 
                                {% if user.email is not null and user.email is not empty %}
                                    <a href="mailto:{{ user.email }}" >{{ user.email }}</a>
                                {% else %}
                                    Adresse e-mail non renseignée
                                {% endif %}
                              </span>
                              
                              <span>
                                <i class="fa fa-phone"></i> 
                                {% if user.phoneNumber is not null and user.phoneNumber is not empty %}
                                    {{ user.phoneNumber }}
                                {% else %}
                                    Numéro de téléphone non renseigné
                                {% endif %}
                              </span>
                              
                              {% if user.role.slug == 'etudiant'%}
                              <br/>
                              <span>
                                <i class="fa fa-bookmark"></i> 
                                {% if user.websiteurl is not null and user.websiteurl is not empty %}
                                     <a href='{{ user.websiteurl }}' target='_blank' rel="nofollow">{{ user.websiteurl }}</a>
                                {% else %}
                                    Pas de site web
                                {% endif %}
                              </span>
                              {% endif %}
                              
                            {% endif %}
                        </p>
                        <div class='result-wrapper'>
                          {% include 'NoobUserBundle:Buttons:followme.html.twig' with{ 'userToFollow': user } %}
                          {% if not app.user %} 
                                <a class='mp-me notco' href='#'><i class="fa fa-envelope"></i> Envoyer un message privé</a>
                          {% elseif app.user.id != user.id  %}
                                <a class='mp-me' href='{{path('noob_messagerie_sendOne', {'slugRecipient':user.slug})}}' target='_blank'><i class="fa fa-envelope"></i> Envoyer un message privé</a>
                          {% endif %}
                        </div>
                      </div>
                  </div>
               </div>
                <div class="row">
                    <article class="col-md-4 text-justify">
                        <div class="planked">
                            <div class="heading">Description personnelle</div>
                            <p class="profil-description">
                                {% if user.description %}
                                    {% if user.description|length > 150 %}
                                        {{user.description|slice(0,150)}}<span class='hide-me'>{{user.description|slice(150,user.description|length)}}</span>
                                        <br/>
                                        <a href='#' class='violet-me showmore'>Agrandir la description</a>
                                    {% else %}
                                        {{ user.description }}
                                    {% endif %}
                                {% else %}
                                    {{ user.firstname }} {{ user.surname }} n'a pas encore rempli sa description.
                                {% endif %}
                            </p>
                            
                            {% if user.role.slug == 'etudiant' %}
                            
                                {% if user.cv is not null and user.cv is not empty %}
                                    <a href='{{ asset('cv/'~user.cv)}}' target="_blank" class="violet seek">Voir mon curriculum vitae</a>
                                {% else %}
                                    <div class='violet seek'>{{ user.firstname }} n'a pas encore déposé son CV</div>
                                {% endif %}
                                
                                <div class='red seek'>
                                {% if user.lookingforinternship is not null and user.lookingforinternship is not empty %}
                                    {{ user.firstname }} est à la recherche d'un stage
                                {% else %}
                                    {{ user.firstname }} ne recherche pas de stage
                                {% endif %}
                                </div>

                                <div class='green seek'>
                                {% if user.lookingforjob is not null and user.lookingforjob is not empty%}
                                    {{ user.firstname }} est à la recherche d'un emploi
                                {% else %}
                                    {{ user.firstname }} ne recherche pas d'emploi
                                {% endif %}
                                </div>
                            {% else %}
                                <div class='red seek'>
                                {%  if user.jury %}
                                        {{ user.firstname }} souhaite participer à un jury TFE
                                    {% else%}
                                        {{ user.firstname }} ne souhaite pas être contacté pour participer à un jury TFE
                                {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </article>
                    <div class="col-md-8">
                        
                        
                       {% if offres is defined %}
                        <div class="portfolio planked">
                            <div class='heading'>Offres de stage ou d'emploi</div>
                            {% if app.user and app.user.id == user.id  %}
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <p>
                                        <button class="btn btn-success" id='publishnew-offre'><i class="fa fa-pencil-square-o"></i> Publier une nouvelle offre</button>
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                {% if offres is not empty %}
                                    <div id="offre-list-wrapper">
                                    {% include 'NoobPostBundle:Global:postsInProfilList.html.twig' with {'posts':offres} %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="load-more load-more-offres" data-of="9"> 
                                                <span class="show-me">Afficher plus</span>
                                                <i class="fa fa-spinner fa-pulse fa-2x hide-me"></i>
                                            </span>
                                            <span class="no-more-result hide-me">
                                                Aucun résultat
                                            </span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div id="offre-list-wrapper">
                                        <div class="row">
                                            <div class="col-md-12" id="no-offre">
                                                  Aucune offre
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>
                                </div>
                        </div>
                        {% endif %}
                        
                        {% if tfe is defined %}
                        <div class="portfolio planked">
                            <div class='heading'>Travail de fin d'études:</div>
                            <div class="row">
                                <div class="col-md-12">
                                {% if tfe is not empty %}
                                    <div id="tfe-wrapper">
                                        {% include 'NoobPostBundle:Tfe:tfeInProfil.html.twig' with {'tfe':tfe} %}
                                    </div>
                                    {% else %}
                                    <div id="tfe-wrapper">
                                        <div id='no-tfe'>
                                            Pas de travail de fin d'études
                                            {% if app.user and app.user.id == user.id  %}
                                            <p>
                                            <button class="btn btn-success" id='publishnew-tfe'><i class="fa fa-pencil-square-o"></i> Publier mon TFE</button>
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        
                        <div class="portfolio planked">
                            <div class='heading'>Portfolio</div>
                            {% if app.user and app.user.id == user.id  %}
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <p>
                                        <button class="btn btn-success" id='publishnew'><i class="fa fa-pencil-square-o"></i> Publier un nouvel élément</button>
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                {% if portfolioElements is not empty %}
                                    <div id="portfolio-list-wrapper">
                                    {% include 'NoobPostBundle:Global:postsInProfilList.html.twig' with {'posts':portfolioElements} %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="load-more load-more-portfolio" data-of="9"> 
                                                <span class="show-me">Afficher plus</span>
                                                <i class="fa fa-spinner fa-pulse fa-2x hide-me"></i>
                                            </span>
                                            <span class="no-more-result hide-me">
                                                Aucun résultat
                                            </span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div id="portfolio-list-wrapper">
                                        <div class="row">
                                            <div class="col-md-12" id="no-portfolio">
                                                   Aucun élément dans le portfolio
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                       </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12 col-md-4">
                        <div class="box violet">
                            <div class='heading'>Coups de <i class="fa fa-heart"></i> (<span class='count'>{{ postsLiked|length }}</span>)</div>
                            <div class='group'>
                            {% if postsLiked is not empty %}
                                {% for post in postsLiked|slice(0, 6) %}
                                    {% if post.type.name == 'portfolio' %}
                                        {% set route = path('noob_portfolio_detail', { 'id': post.id,'slug': post.slug }) %}
                                    {% elseif post.type.name == 'offrestage' %}
                                        {% set route = path('noob_offre_detail', { 'id': post.id,'slug': post.slug }) %}
                                    {% elseif post.type.name == 'offreemploi' %}
                                        {% set route = path('noob_offre_detail', { 'id': post.id,'slug': post.slug }) %}
                                    {% elseif post.type.name == 'tfe' %}
                                        {% set route = path('noob_tfe_detail', { 'id': post.id,'slug': post.slug }) %}
                                    {% endif %}
                                     <a href='{{route}}' title='{{ post.name }}'>
                                        {% include 'NoobPostBundle:Global:postImage.html.twig' with{ 'mode':'minithumb', 'picturename': post.picture, 'alt': post.name } %}
                                     </a>
                                {% endfor %}
                                <a href='{{ path('noob_user_userPostsLiked',{'slug':user.slug}) }}' class='see-more'>Voir la liste complète</a>
                            {% else %}
                                Pour le moment, {{ user.firstname }} n'a aucun coup de coeur.
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-4">
                        <div class="box red">
                            <div class='heading'>Following (<span class='count'>{{ user.usersIFollow|length }}</span>)</div>
                            <div class='group'>
                            {% if usersIFollow is not empty %}
                                {% for following in usersIFollow|slice(0, 6) %}
                                        <a href='{{ path('noob_user_userprofilepage', {'slug': following.slug}) }}' title='{{ following.firstname }} {{ following.surname }}' >
                                            {% include 'NoobUserBundle:Global:userImage.html.twig' with{ 'mode':'minithumb', 'picturename': following.picture, 'alt': following.firstname ~ following.surname } %}
                                        </a>
                                {% endfor %}
                                <a href='{{ path('noob_user_userFollowings',{'slug':user.slug}) }}' class='see-more'>Voir la liste complète</a>
                            {% else %}
                                 Pour le moment, {{ user.firstname }} ne suit aucun membre
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-4">
                        <div class="box green">
                            <div class='heading'>Followers (<span class='count'>{{ user.usersFollowers|length }}</span>)</div> 
                           <div class='group'>
                            {% if usersFollowers is not empty %}
                                {% for follower in usersFollowers|slice(0, 6) %}
                                    <a href='{{ path('noob_user_userprofilepage', {'slug': follower.slug}) }}' title='{{ follower.firstname }} {{ follower.surname }}'>
                                        {% include 'NoobUserBundle:Global:userImage.html.twig' with{ 'mode':'minithumb', 'picturename': follower.picture, 'alt': follower.firstname ~ follower.surname } %}
                                    </a>
                                {% endfor %}
                                <a href='{{ path('noob_user_userFollowers',{'slug':user.slug}) }}' class='see-more'>Voir la liste complète</a>
                            {% else %}
                                Personne ne suit {{ user.firstname }} pour le moment. Soyez le premier à suivre {{ user.firstname }} !
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
<script>
    
$(document).ready(function(){
    
    var currEvent = true;
    
    
    $('body').on('click','.mp-me.notco', function(e){
        e.preventDefault();
        if(currEvent){
            currEvent = false;

            bootbox.alert({
                title: "Information",
                message: "Vous devez vous connecter pour contacter ce membre"
            });
            currEvent = true;
        }
    });
    
    
    $('body').on('click', '.load-more-portfolio', function(e){
        if(currEvent){
            currEvent = false;
            var of = $(this).attr('data-of');
            $.ajax({
                type: "POST",
                url: "{{ path('noob_user_ajax_getMore_portfolio')}}",
                data: {userid:{{user.id}}, of:of},
                context: $(this),
                success: function(data){
                    if(data === false)
                    {
                        $(this).fadeOut('1000',function(){
                            $(this).next('.no-more-result').fadeIn().css({'display':'block'});
                        });
                    }
                    else
                    {
                        $response = $(data).hide();
                        $(this).parent('div').parent('div').before($response);
                        $response.fadeIn();
                        $(this).children('span').removeClass('hide-me').addClass('show-me');
                        $(this).children('i').addClass('hide-me').removeClass('show-me');
                        of = parseInt(of) + 9;
                        $(this).attr('data-of',of);
                    }
                },
                complete:function(){
                    currEvent = true;
                }
            });
            $(this).children('span').toggleClass('hide-me').toggleClass('show-me');
            $(this).children('i').toggleClass('hide-me').toggleClass('show-me');
        }
    });
    
    
    $('body').on('click', '.load-more-offres', function(e){
        if(currEvent){
            currEvent = false;
            var of = $(this).attr('data-of');
            $.ajax({
                type: "POST",
                url: "{{ path('noob_user_ajax_getMore_offre')}}",
                data: {userid:{{user.id}}, of:of},
                context: $(this),
                success: function(data){
                    if(data === false)
                    {
                        $(this).fadeOut('1000',function(){
                            $(this).next('.no-more-result').fadeIn().css({'display':'block'});
                        });
                    }
                    else
                    {
                        $response = $(data).hide();
                        $(this).parent('div').parent('div').before($response);
                        $response.fadeIn();
                        $(this).children('span').removeClass('hide-me').addClass('show-me');
                        $(this).children('i').addClass('hide-me').removeClass('show-me');
                        of = parseInt(of) + 9;
                        $(this).attr('data-of',of);
                    }
                },
                complete:function(){
                    currEvent = true;
                }
            });
            $(this).children('span').toggleClass('hide-me').toggleClass('show-me');
            $(this).children('i').toggleClass('hide-me').toggleClass('show-me');
        }
    });
       
       
{% if app.user and app.user.id == user.id  %}


    $('#publishnew').click(function(e){
         e.preventDefault();
         if(currEvent){
             currEvent = false;
             $.ajax({
                 url: "{{ path('noob_post_insertPortfolio') }}",
                 type: 'POST',
                 success: function(data){
                     bootbox.dialog({
                     message: data
                     });
                     currEvent = true;
                 }
             }); 
         }
     });
    
    $('body').on('submit','#my-form-portfolio-add',function(e){
        e.preventDefault();
            if(currEvent){
            currEvent = false;
            $.ajax({
              url: "{{ path('noob_post_insertPortfolio') }}",
              type: 'POST',
              data: new FormData( this ),
              processData: false,
              contentType: false,
              success: function(data){
                  if(typeof data.status !== 'undefined'){
                      bootbox.hideAll();
                      $mynew = $(data.view);
                      $mynew.prependTo('#portfolio-list-wrapper .row:first-child');
                      $('#no-portfolio').hide();
                      $mynew.hide().fadeIn('slow');
                  }else{
                    $('.bootbox-body').html(data);
                  }
                   currEvent = true;
              },
              error: function(data){
                currEvent = true;

              }
            });
        }
    });
    
    
    var timer = null;
    $("body").on('keyup',"#tagField",function(e){
        if(timer) {
            clearTimeout(timer);
        }
        timer = setTimeout(getSuggestions, 300);
    });
    function getSuggestions(){
        var searchString = $("#tagField").val();
        if(searchString.length > 1){
            $.ajax({
                type: "POST",
                url: "{{ path('noob_tag_ajax_suggestion')}}",
                data: {searchString: searchString},
                success: function(data){
                    $("#tag-suggestions").html(data);
                }
            });
        }
    }
    
    
    $('body').on('submit', '#tagField', function(e){
        e.preventDefault;
        if($('#tagField').val().length > 0){
            var newTag = $('#tagField').val().replace(/ /g,"");;
            $('#actualtags').append(' <a class="deletetag" href="#">'+newTag+'</a>');
            $('#tagField').val('');
            $("#tag-suggestions").html('');
            updateTrueField();
        }
    });
    
    $('body').on('click','#tagbutton',function(){
        if($('#tagField').val().length > 0){
            var newTag = $('#tagField').val().replace(/ /g,"");;
            $('#actualtags').append(' <a class="deletetag" href="#">'+newTag+'</a>');
            $('#tagField').val('');
            $("#tag-suggestions").html('');
            updateTrueField();
        }
    });
    $('body').on('click', '.deletetag', function(e){ 
        e.preventDefault();
        $(this).fadeOut().remove();
        updateTrueField();
    });
    $('body').on('click', '.clicktoadd', function(e){ 
        e.preventDefault();
        var newTag = $(this).text();
        $('#tagField').val('');
        $("#tag-suggestions").html('');
        $('#actualtags').append(' <a class="deletetag" href="#">'+newTag+'</a>');
        updateTrueField();
    });
    
    function updateTrueField(){
        var searchString = '';
        $('.deletetag').each(function(){
            searchString = searchString + ' ' + $(this).text();
        });
        $('.truefield').val(searchString.trim());
    }
    
    
    
    
    //remove
    $('body').on('click','.remove',function(e){
        e.preventDefault();
        if(currEvent){
            currEvent = false;
            var postId = $(this).data('id');
            var mythis = $(this);
            bootbox.confirm({
            title: "Confirmer la suppression de cet élément?",
            message: "Cette action entrainera la suppression définitive de l'élément et de tout ce qui le concerne. Confirmer?",
            buttons: {
                cancel: {
                    label: "Annuler la suppression",
                    className: "btn-default pull-left"
                },
                confirm: {
                    label: "Confirmer la suppression",
                    className: "btn-danger pull-right"
                }
            },
            callback: function(result) {
                currEvent = true;
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: Routing.generate('noob_post_ajax_deleteUserPost', { postId: postId}),
                        data: {postId:postId},
                        success: function(data){
                            mythis.closest('article').fadeOut();
                        }
                    });
                }
            }
            });   
        }
    });
    
    
    //update
    
    $('body').on('submit','#my-form-portfolio-edit',function(e){
        e.preventDefault();
            if(currEvent){
            currEvent = false;
            var postId = $(this).data('id');
            var $divToFade = $('.p'+postId);
            $.ajax({
              url: Routing.generate('noob_post_updateUserPortfolio', { postId: postId}),
              type: 'POST',
              data: new FormData( this ),
              processData: false,
              contentType: false,
              success: function(data){
                  if(typeof data.status !== 'undefined'){
                      bootbox.hideAll();
                      $divToFade.fadeOut();
                      $mynew = $(data.view);
                      $mynew.prependTo('#portfolio-list-wrapper .row:first-child');
                      $('#no-portfolio').hide();
                      $mynew.hide().fadeIn('slow');
                  }else{
                    $('.bootbox-body').html(data);
                  }
                   currEvent = true;
              },
              error: function(data){
                currEvent = true;
              }
            });
        }
    });
    
    $('body').on('click','.edit',function(e){
        e.preventDefault();
         if(currEvent){
             currEvent = false;
            var postId = $(this).data('id');
             $.ajax({
                 url: Routing.generate('noob_post_updateUserPortfolio', { postId: postId}),
                 type: 'POST',
                 success: function(data){
                     bootbox.dialog({
                     message: data
                     });
                     currEvent = true;
                 }
             }); 
         }
    });
    
    
    
    
    
    
    
    
    
    
    //offre
    
    $('#publishnew-offre').click(function(e){
         e.preventDefault();
         if(currEvent){
             currEvent = false;
             $.ajax({
                 url: "{{ path('noob_post_insertOffre') }}",
                 type: 'POST',
                 success: function(data){
                     bootbox.dialog({
                     message: data
                     });
                     currEvent = true;
                 }
             }); 
         }
     });
     
     
    $('body').on('submit','#my-form-offre-add',function(e){
        e.preventDefault();
            if(currEvent){
            currEvent = false;
            $.ajax({
              url: "{{ path('noob_post_insertOffre') }}",
              type: 'POST',
              data: new FormData( this ),
              processData: false,
              contentType: false,
              success: function(data){
                  if(typeof data.status !== 'undefined'){
                      bootbox.hideAll();
                      $mynew = $(data.view);
                      $mynew.prependTo('#offre-list-wrapper .row:first-child');
                      $('#no-offre').hide();
                      $mynew.hide().fadeIn('slow');
                  }else{
                    $('.bootbox-body').html(data);
                  }
                   currEvent = true;
              },
              error: function(data){
                currEvent = true;

              }
            });
        }
    });
    //update
    $('body').on('submit','#my-form-offre-edit',function(e){
        e.preventDefault();
            if(currEvent){
            currEvent = false;
            var postId = $(this).data('id');
            var $divToFade = $('.p'+postId);
            $.ajax({
              url: Routing.generate('noob_post_updateUserOffre', { postId: postId}),
              type: 'POST',
              data: new FormData( this ),
              processData: false,
              contentType: false,
              success: function(data){
                  if(typeof data.status !== 'undefined'){
                      bootbox.hideAll();
                      $divToFade.fadeOut();
                      $mynew = $(data.view);
                      $mynew.prependTo('#offre-list-wrapper .row:first-child');
                      $('#no-offre').hide();
                      $mynew.hide().fadeIn('slow');
                  }else{
                    $('.bootbox-body').html(data);
                  }
                   currEvent = true;
              },
              error: function(data){
                currEvent = true;
              }
            });
        }
    });
    
    $('body').on('click','.edit-offre',function(e){
        e.preventDefault();
         if(currEvent){
             currEvent = false;
            var postId = $(this).data('id');
             $.ajax({
                 url: Routing.generate('noob_post_updateUserOffre', { postId: postId}),
                 type: 'POST',
                 success: function(data){
                     bootbox.dialog({
                     message: data
                     });
                     currEvent = true;
                 }
             }); 
         }
    });
    
    
    
    
    
    //tfe
    $('#publishnew-tfe').click(function(e){
         e.preventDefault();
         if(currEvent){
             currEvent = false;
             $.ajax({
                 url: "{{ path('noob_post_insertUserTfe') }}",
                 type: 'POST',
                 success: function(data){
                     bootbox.dialog({
                     message: data
                     });
                     currEvent = true;
                 }
             }); 
         }
     });
     
     
    $('body').on('submit','#my-form-tfe-add',function(e){
        e.preventDefault();
            if(currEvent){
            currEvent = false;
            $.ajax({
              url: "{{ path('noob_post_insertUserTfe') }}",
              type: 'POST',
              data: new FormData( this ),
              processData: false,
              contentType: false,
              success: function(data){
                  if(typeof data.status !== 'undefined'){
                      bootbox.hideAll(); 
                      $mynew = $(data.view);
                      $mynew.prependTo('#tfe-wrapper');
                      $('#no-tfe').hide();
                      $mynew.hide().fadeIn('slow');
                  }else{
                    $('.bootbox-body').html(data);
                  }
                   currEvent = true;
              },
              error: function(data){
                currEvent = true;

              }
            });
        }
    });
    //update
    $('body').on('submit','#my-form-tfe-edit',function(e){
        e.preventDefault();
            if(currEvent){
            currEvent = false;
            var postId = $(this).data('id');
            var $divToFade = $('.p'+postId);
            $.ajax({
              url: Routing.generate('noob_post_updateUserTfe', { postId: postId}),
              type: 'POST',
              data: new FormData( this ),
              processData: false,
              contentType: false,
              success: function(data){
                  if(typeof data.status !== 'undefined'){
                      bootbox.hideAll();
                      $divToFade.fadeOut();
                      $mynew = $(data.view);
                      $mynew.prependTo('#tfe-wrapper');
                      $('#no-offre').hide();
                      $mynew.hide().fadeIn('slow');
                  }else{
                    $('.bootbox-body').html(data);
                  }
                   currEvent = true;
              },
              error: function(data){
                currEvent = true;
              }
            });
        }
    });
    
    $('body').on('click','.edit-tfe',function(e){
        e.preventDefault();
         if(currEvent){
             currEvent = false;
            var postId = $(this).data('id');
             $.ajax({
                 url: Routing.generate('noob_post_updateUserTfe', { postId: postId}),
                 type: 'POST',
                 success: function(data){
                     bootbox.dialog({
                     message: data
                     });
                     currEvent = true;
                 }
             }); 
         }
    });
    
    
    
{% endif %}
    
    
    
});
</script>
{% endblock %}