{% extends ":default:layout.html.twig" %}

{% block title %}
Modifier mon mot de passe
|{{ parent() }}
{% endblock %}


{% block content %}

<div class="board grey">
    <div class="container pb">
        <div class="row">
            <div class="col-lg-12">
                <header>
                    <h1>Modifier mon mot de passe</h1>
                </header>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                <div class='mb planked suggest-wrapper'>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('noob_site_dashboard_index') }}">Tableau de bord</a></li>
                        <li class="active">Modifier mon mot de passe</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class='mb planked suggest-wrapper'>
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="bg-success">{{ flashMessage }}</div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('bad-notice') %}
                        <div class="bg-danger">{{ flashMessage }}</div>
                    {% endfor %}
                    <form action="{{ path('noob_comment_userEditPassword') }}" method="post"  {{ form_enctype(form) }} >
                        {% if not form.vars.valid %}
                        <div class="bg-danger">
                            <p>Le formulaire est incorrect:</p> 
                           {{ form_errors(form) }}
                        </div>
                        {% endif %}

                        <strong class='form-spacer'>Modification de votre mot de passe:</strong>
                            <div class="form-group">
                                {{ form_label(form.oldPassword, 'Votre ancien mot de passe: ', { 'label_attr': {'class': 'maclasse'} }) }} 
                                {{ form_widget(form.oldPassword, { 'attr': {'class':'form-control'}})}}
                            </div>
                        
                            <div class="form-group">
                                {{ form_label(form.newPassword.first, 'Votre nouveau mot de passe: ', { 'label_attr': {'class': 'maclasse'} }) }} 
                                {{ form_widget(form.newPassword.first, { 'attr': {'class':'form-control'}})}}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.newPassword.second, 'Confirmation du nouveau mot de passe: ', { 'label_attr': {'class': 'maclasse'} }) }} 
                                {{ form_widget(form.newPassword.second, { 'attr': {'class':'form-control'}})}}
                            </div>


                        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'},'label': 'Enregistrer'  }) }}
                        {{form_widget(form._token)}}
                    </form>
                </div>
            </div>
            {% include 'NoobSiteBundle:DashBoard:editParametersNav.html.twig' %}
        </div>
    </div>
</div>
            
{% endblock %}


{% block javascripts %}
<script>
$(document).ready(function(){
    
    updateTrueField();
    
    var timer = null;
    $("#tagField").keyup(function(e){
        if(timer) {
            clearTimeout(timer);
        }
        timer = setTimeout(getSuggestions, 300);
    });
    function getSuggestions(){
        var searchString = $("#tagField").val();
        if(searchString.length > 1){
            $.ajax({
                type: "POST",
                url: "{{ path('noob_tag_ajax_suggestion')}}",
                data: {searchString: searchString},
                success: function(data){
                    $("#tag-suggestions").html(data);
                }
            });
        }
    }
    
    
    $('#tagField').submit(function(e){
        e.preventDefault;
        if($('#tagField').val().length > 0){
            var newTag = $('#tagField').val().replace(/ /g,"");;
            $('#actualtags').append(' <a class="deletetag" href="#">'+newTag+'</a>');
            $('#tagField').val('');
            $("#tag-suggestions").html('');
            updateTrueField();
        }
    });
    
    $('#tagbutton').click(function(){
        if($('#tagField').val().length > 0){
            var newTag = $('#tagField').val().replace(/ /g,"");;
            $('#actualtags').append(' <a class="deletetag" href="#">'+newTag+'</a>');
            $('#tagField').val('');
            $("#tag-suggestions").html('');
            updateTrueField();
        }
    });
    $('body').on('click', '.deletetag', function(e){ 
        e.preventDefault();
        $(this).fadeOut().remove();
        updateTrueField();
    });
    $('body').on('click', '.clicktoadd', function(e){ 
        e.preventDefault();
        var newTag = $(this).text();
        $('#tagField').val('');
        $("#tag-suggestions").html('');
        $('#actualtags').append(' <a class="deletetag" href="#">'+newTag+'</a>');
        updateTrueField();
    });
    
    function updateTrueField(){
        var searchString = '';
        $('.deletetag').each(function(){
            searchString = searchString + ' ' + $(this).text();
        });
        $('.truefield').val(searchString.trim());
    }
});
</script>
{% endblock %}