{% extends ":default:layout.html.twig" %}

{% block title %}
Modifier les informations de mon compte
|{{ parent() }}
{% endblock %}


{% block content %}

<div class="board grey">
    <div class="container pb">
        <div class="row">
            <div class="col-lg-12">
                <header>
                    <h1>Modifier les informations de mon compte</h1>
                </header>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                <div class='mb planked suggest-wrapper'>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('noob_site_dashboard_index') }}">Tableau de bord</a></li>
                        <li class="active">Modifier les informations de mon compte</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class='mb planked suggest-wrapper'>
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="bg-success">{{ flashMessage }}</div>
                    {% endfor %}
                    <form action="{{ path('noob_comment_userInfoPage') }}" method="post"  {{ form_enctype(form) }} class="formuserinfo">
                        {% if not form.vars.valid %}
                        <div class="bg-danger">
                            <p>Le formulaire est incorrect:</p>
                            {{ form_errors(form) }}
                        </div>
                        {% endif %}

                        <strong class='form-spacer'>Votre profil:</strong>
                        <div class="form-group">
                         {{ form_label(form.firstname, 'Votre prénom: ', { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.firstname, {'attr':{'class':'form-control'}})}}
                        </div>

                        <div class="form-group">
                         {{ form_label(form.surname, 'Votre nom de famille: ', { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.surname, {'attr':{'class':'form-control'}})}}
                        </div>
                        
                        
                        
                        {% if user.role.slug == 'etudiant' %}
                            {% set label = "Votre section:" %}
                        {% else %}
                            <div class="form-group">
                             {{ form_label(form.society, "Le nom de l'entreprise ou de la société que vous représentez:", { 'label_attr': {'class': 'maclasse'} }) }} 
                             {{ form_widget(form.society, {'attr':{'class':'form-control'} } )}}
                             </div>
                            {% set label = "Son domaine professionnel:" %}
                        {% endif %}
                        <div class="form-group">
                         {{ form_label(form.section, label, { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.section, {'attr':{'class':'form-control'} } )}}
                         </div>

                        <div class="form-group">
                         {{ form_label(form.description, "Votre description:", { 'label_attr': {'class': 'maclasse'} }) }} 
                          <span class="help-block"><i class="fa fa-question-circle"></i> Présentez-vous en quelques mots pour aider vos visiteurs à vous connaître.</span>
                         {{ form_widget(form.description, {'attr':{'class':'form-control form-textarea'}})}}
                         </div>
                        
                        <div class="form-group">
                            {% if user.picture is not null and  user.picture is not empty %}
                            <div class="media-left">
                                {% include 'NoobUserBundle:Global:userImage.html.twig' with{ 'mode':'minithumb', 'picturename': user.picture, 'alt': user.firstname ~ user.surname } %}
                            
                            </div>
                            {% endif %}
                            <div class="media-body">
                            {{ form_label(form.fileProfil, "Modifier votre image de profil:", { 'label_attr': {'class': 'maclasse'} }) }} 
                            {{ form_widget(form.fileProfil)}}
                            </div>
                         </div>
                        
                        <div class="form-group">
                            {% if user.cover is not null and  user.cover is not empty %}
                            <div class="media-left">
                                <img src="{{('img/cover/' ~ user.cover)|imagine_filter('mini')}}" alt="Couverture"/>
                            </div> 
                            {% endif %}
                            <div class="media-body">
                                {{ form_label(form.fileCover, "Modifier votre image de couverture:", { 'label_attr': {'class': 'maclasse'} }) }} 
                                {{ form_widget(form.fileCover)}}
                            </div>
                         </div>
                        
                        {% if user.role.slug == 'etudiant' %}
                        <div class="form-group">
                            {{ form_label(form.fileCv, "Votre CV (format pdf):", { 'label_attr': {'class': 'maclasse'} }) }} 
                            {{ form_widget(form.fileCv)}}
                         </div>
                        {% endif %}


                        <strong class='form-spacer'>Options du profil:</strong>
                        {% if user.role.slug == 'entreprise' %}
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.jury)}}
                                    Je désire être éventuellement contacté pour participer à un jury de TFE
                                </label>
                                <span class="help-block"><i class="fa fa-question-circle"></i> Cochez cette case pour être éventuellement contacté pour participer à un jury de TFE</span>
                            </div>
                        </div>
                        <br/>
                        {% endif %}
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.visibleInfo)}}
                                    Afficher mes informations de contact sur mon profil
                                </label>
                                <span class="help-block"><i class="fa fa-question-circle"></i> Décochez cette case si vous ne souhaitez pas que vos coordonnées (e-mail, téléphone, site web) apparaissent sur votre profil.</span>
                            </div>
                        </div>

                        <strong class='form-spacer'>Informations de contact:</strong>
                        <div class="form-group">
                         {{ form_label(form.email, 'Votre adresse e-mail: ', { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.email, {'attr':{'class':'form-control'}})}}
                         </div>


                        <div class="form-group">
                         {{ form_label(form.phoneNumber, 'Numéro de téléphone:', { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.phoneNumber, {'attr':{'class':'form-control'}})}}
                         </div>

                        <div class="form-group">
                         {{ form_label(form.websiteurl, "Adresse URL de votre site:", { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.websiteurl, {'attr':{'class':'form-control'}})}}
                         </div>

                        <strong class='form-spacer'>Réseaux sociaux:</strong>

                        <div class="form-group">
                         {{ form_label(form.fblink, "L'adresse URL de votre page Facebook:", { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.fblink, {'attr':{'class':'form-control'}})}}
                         </div>

                        <div class="form-group">
                         {{ form_label(form.twitterlink, "L'adresse URL de votre page Twitter:", { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.twitterlink, {'attr':{'class':'form-control'}})}}
                         </div>

                        <div class="form-group">
                         {{ form_label(form.linkedinlink, "L'adresse URL de votre page LinkedIn:", { 'label_attr': {'class': 'maclasse'} }) }} 
                         {{ form_widget(form.linkedinlink, {'attr':{'class':'form-control'}})}}
                         </div>

                        
                        {% if user.role.slug == 'etudiant' %}
                        <strong class='form-spacer'>Recherche de stage et d'emploi:</strong>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.lookingForInternship)}}
                                    Je recherche un stage
                                </label>
                             </div>

                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.lookingForJob)}}
                                    Je recherche un emploi
                                </label>
                             </div>
                        </div>
                        {% endif %}

                        <br/><br/>
                         {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'},'label': 'Valider'  }) }}
                         {{form_widget(form._token)}}
                    </form>
                </div>
            </div>
            {% include 'NoobSiteBundle:DashBoard:editParametersNav.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}



{% block javascripts %}
<script>
$('input[type=file]').change(function(e){
    $(this).parent('.media-body').parent('.form-group').children('.media-left').hide();
});

</script>
{% endblock %}