{# 
    NoobUserBundle:Global:loginSigninLink.html.twig
    
    Display login and signin link.
    If the user is logged, display a dropdown with his option

    Changelog:
    20/04/2015 14h57: file created

    This template need the following variables:
    none
#}

{% if app.user %}
  <div class="btn-group myprofilbutton">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
        {{ render(controller('NoobMessagerieBundle:Message:getNbUnreadMessage')) }}
        {{ app.user.firstname }} {{ app.user.surname }} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path('noob_site_dashboard_index') }}" class="hvr-sweep-to-right"> <i class="fa fa-tachometer"></i> Tableau de bord</a></li>
        <li><a href="{{ path('noob_messagerie_index') }}"> <i class="fa fa-envelope"></i> Ma messagerie</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('noob_user_userprofilepage', {'slug': app.user.slug}) }}"> <i class="fa fa-pencil-square-o"></i> Publier dans mon profil</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('noob_comment_userInfoPage') }}"> <i class="fa fa-cog"></i> Modifier mes paramètres</a></li>
        <li class="divider"></li> {#
        {% if app.user.role.slug == 'entreprise' %}
        <li><a href="#"> <i class="fa fa-pencil-square-o"></i> Publier une offre</a></li>
        {% endif %}
        <li><a href="{{ path('noob_post_insertPortfolio') }}"> <i class="fa fa-pencil-square-o"></i> Publier dans mon portfolio</a></li>
        <li class="divider"></li> #}
        <li><a href="{{ path('noob_user_userPostsLiked', {'slug': app.user.slug}) }}"> <i class="fa fa-heart"></i> Mes coups de coeur</a></li>
        <li class="divider"></li>
        <li><a href="{{path('user_logout')}}"> <i class="fa fa-power-off"></i> Se déconnecter</a></li>
      </ul>
  </div>
{% else %}
  <a href="{{path('user_login')}}">Connexion</a>|<a href="{{ path('user_signup_page') }}">Inscription</a>
{% endif %}